.formphp label.nao-aparece, .formphp input.nao-aparece {
	display: none !important;
}

#form-erro span, #form-send span  {
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 10px;
	display: block;
}

#form-send {
	color: #31aa39;
}

#form-send p {
    padding: 0;
    text-align: left;
	color: #31aa39;
}

#form-erro {
	color: #f64540;
}

#form-erro p {
    padding: 0;
    text-align: left;
	color: #f64540;
}